<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div> <a href="/weibo/showuser/{{ iid }}">首页</a></div> <br>
    <div>
        {{ weibo }}
    </div>
    <div>
        {% for review in list_review %}
            {{ review.review }} {{ review.user.username }}<br>
        {% endfor %}
    </div>
    <div>
       写评论<br>
            <form method="post">
                {% csrf_token %}
                <textarea name="review" rows="3" cols="20">
                </textarea>
                <input type="submit" value="提交">
            </form>

    </div>
</body>
</html>